body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

.object {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 2px 5px 1px rgba(58, 58, 58, 0.5);
  max-width: 400px;
  margin: 0 auto; /* Center the form */
  margin-bottom: 20px;
}

.a123 {
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0.9px 2px 5px 1px rgba(80, 80,80 , 0.45);
  max-width: 400px;
  margin: 0 auto; /* Center the form */
  text-align: center;
}

h2, h3 {
  color: #333;
}

input[type="text"],
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Space between buttons */
}

button:hover {
  background-color: #218838;
}

.results {
  margin-top: 20px;
  text-align: right; /* Align results to the right */
}

output {
  display: block;
  margin: 5px 0;
  font-weight: bold;
  color: #333;
}
